name: Beta

on:
  push:
    tags: ["beta-*"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  packages: write

jobs:
  # ===========================================================================
  # Build + push multi-arch beta images
  # ===========================================================================
  docker:
    name: Docker Beta Build & Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
            galti3r/s5
          tags: |
            type=raw,value=beta
            type=match,pattern=beta-(.*),group=0

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Containerfile.cross
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
